<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>

        <h2 class="card-title">Hello, I'm Kevin. Nice to meet you!</h2>

        <!--Basic information-->
        <div class="card" style="width: 90%;">
            <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
            <div class="card-body">
                <h5 class="card-title">Let me introduce myself.</h5>
                <hr/>

                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th scope="row">Full Name</th>
                        <td>Kevin Christian Chandra</td>
                    </tr>
                    <tr>
                        <th scope="row">Birth Date</th>
                        <td>September 27th, 1999</td>
                    </tr>
                    <tr>
                        <th scope="row">Birth Place</th>
                        <td colspan="2">Jakarta</td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td colspan="2">Tanah Sereal XVI St., West Jakarta, DKI Jakarta</td>
                    </tr>
                    <tr>
                        <th scope="row">e-mail</th>
                        <td colspan="2">kevinc.27999@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row">Hobby</th>
                        <td colspan="2">Reading books, watching films, dan playing games.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Description-->
        <div class="card" style="width: 90%;">
            <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
            <div class="card-body">
                <h5 class="card-title">Let me tell you more.</h5>
                <hr/>

                <p>I am a student at University of Indonesia's Faculty of Computer Science. I first enrolled here at July 2017. I am now on my fourth semester. I'm currently a teaching assistant for the Basics of Programming 2 Course. I live by my motto, that I should strive to do the best in my study, not just to get the best score. Score is just a number, but knowledge, wisdom, experience and skills are worth more than that number. And I believe that with those treasures, that number will then come along.</p>

            </div>
        </div>

        <!--Education-->
        <div class="card" style="width: 90%;">
            <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
            <div class="card-body">
                <h5 class="card-title">Here is my education history.</h5>
                <hr/>

                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th scope="row">2017 - Now</th>
                        <td>Faculty of Computer Science, University of Indonesia, Depok</td>
                    </tr>
                    <tr>
                        <th scope="row">2014 - 2017</th>
                        <td>Ketapang 1 Christian Senior High School, Jakarta</td>
                    </tr>
                    <tr>
                        <th scope="row">2011 - 2014</th>
                        <td>Ketapang 1 Christian Junior High School, Jakarta</td>
                    </tr>
                    <tr>
                        <th scope="row">2005 - 2011</th>
                        <td>Ketapang 1 Christian Elementary School, Jakarta</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>